body {
    background-color: whitesmoke;
    padding-bottom: 46px;
}

nav {
    background-color: gray;
}

.main-container {
    padding-top: 150px;
}

.a-link {
    color: #000000
}

.a-nav {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    text-align: center;
}

li {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.a-nav:hover {
    color: #FFFFFF;
    transition: 0.5s;
}

input {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: gray;
    max-width: inherit;
    width: 100%;
    height: 46px;
    font-size: 15px;
}

#singin-submit-button, #signup-submit-button, #restore-password-button {
    margin-bottom: 20px;
}

#h4-restore {
    margin-bottom: 50px;
}

meter {  
    margin: 0 auto 1em;
    width: 100%;
    height: 20px;
  
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

