<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/styles/style.css" rel="stylesheet" type="text/css">
    <script src="/static/scripts/add_note.js"></script>
    <title>Secure App</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">       
        <a class="navbar-brand a-nav" href="https://localhost/user_notes">
            SECURE APP
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold text-nowrap">
                    <a class="a-nav" href="https://localhost/user_add">DODAJ</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold text-nowrap">
                    <a class="a-nav" href="https://localhost/user_notes">NOTATKI</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold">
                    <a class="a-nav" href="https://localhost/logout">WYLOGUJ</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
            </ul>
        </div>
    </nav>

    <div class="main-container container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center font-weight-bold">Notatka</h4>
                <form id="add-note-form">
                    <input type="text" id="title-input" name="title" class="form-control" placeholder="Tytuł" maxlength="60" required>
                    <textarea class="form-control" rows="5" maxlength="256" name="note" placeholder="Notatka" id="textarea-note"></textarea>
                    <select class="form-control" id="select-note">
                        <option selected>Szyfrowana</option>
                        <option value="Nieszyfrowana">Nieszyfrowana</option>>
                    </select>
                    <input type="password" id="password-note" name="password" class="form-control" placeholder="Hasło" required>
                    <div class = "text-center">
                        <button id="add-note-button" class="btn btn-lg btn-secondary btn-block" type="submit">Dodaj notatkę</button>
                    </div>
                </form>
                <div id="alert-div"></div>
            </div>
        </div>
    </div>
    <footer class="text-center text-lg-start">
        <div class="text-center p-3">
          <p class="text-dark">@ Copyright 2020 Paweł Skiba</p>
        </div>
      </footer>
        
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>