<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/styles/style.css" rel="stylesheet" type="text/css">
    <script src="/static/scripts/display_notes.js"></script>
    <title>Secure App</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">       
        <a class="navbar-brand a-nav" href="https://localhost/user_notes">
            SECURE APP
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold text-nowrap">
                    <a class="a-nav" href="https://localhost/user_notes">NOTATKI</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold text-nowrap">
                    <a class="a-nav" href="https://localhost/user_files">PLIKI</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold">
                    <a class="a-nav" href="https://localhost/logout">WYLOGUJ</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
            </ul>
        </div>
    </nav>

    <div class="main-container container">
        <h3 id="private-notes-h3" class="font-weight-bold text-center">Prywatne notatki</h3>
        <div id="private-notes"></div>
        <h5 class="font-weight-bold text-center">Wprowadź dane, aby odszyfrować notatkę</h5>
        <form id="decrypt-note" class = "text-center">
            <div class="row">
                <div class="col">
                    <input type="text" id="title-decrypt-note" name="title" class="form-control" placeholder="Tytuł" maxlength="60" required>
                </div>
                <div class="col">
                    <input type="password" id="password-decrypt-note" name="password" class="form-control" placeholder="Hasło" required>        
                </div>
            </div>
            <button id="decrypt-note-button" class="btn btn-lg btn-secondary btn-block" type="submit">Odszyfruj notatkę</button>
        </form>
        <hr class="hr-classifier">
        <h3 id="public-notes-h3" class="font-weight-bold text-center">Publiczne notatki</h3>
        <div id="public-notes"></div>
    </div>
    <footer class="text-center text-lg-start">
        <div class="text-center p-3">
          <p class="text-dark">@ Copyright 2020 Paweł Skiba</p>
        </div>
      </footer>
        
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>